.addToFavButton {
    outline: none;
    border: none;
    aspect-ratio: 1;
}

.solid {
    background: white;
}

.transparent {
    background: rgb(255 255 255 / 11%);
}

.active {
    background: linear-gradient(45deg, var(--gradient-color-1), var(--gradient-color-2));
}